# Virtual environments
.venv/
env/
venv/

# Conda
*.conda
conda-env/
.env/

# Python packaging
*.egg-info/
dist/
build/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
