[project]
name = "mPFC-opto"
version = "0.1.0"
readme = "README.md"
dependencies = [
    "numpy",
    "scipy",
    "pandas",
    "matplotlib",
]

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]